.card {
    width: 18rem;
    max-height: 360px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .card img {
    height: 120px;
    object-fit: fill;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .card-text {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  

  

  
 
  .btn:hover {
    background-color: #1e7e34;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
 
  
  