form {
    display: block;
    flex-direction: inherit;
    align-items: end;
    padding: 20px;
}
h1{
    font-size: 4em;
    line-height: 0.9;
}
.Hero {
  width: 300px;
  height: 300px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 20px;
}

.btn-success {
  border-radius: 20px;
}

.btn-danger {
  border-radius: 20px;
}

